.cards {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

p {
    text-align: justify;
    margin-top: 30px;
}

.image {
    width: 30%;
    height: 45vh;
    margin: 10px auto;
}

.buttonBack {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 120px;
    height: 35px;
    border: 2px solid rgb(102, 98, 98);
    background-color: transparent;
    color: rgb(102, 98, 98);
    cursor: pointer;
    transition: .3s;
}
    
.buttonBack:hover {
    border: 2px solid rgb(102, 98, 98);
    background-color: rgb(102, 98, 98);
    color: white;
    transition: .3s;
}